<a href="https://colab.research.google.com/github/gazm/fred-tensor/blob/main/fred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [3]:
api_key = '83667d6372bd3cbbce30d84933599c97'

list of datapoints to grab from FRED

In [4]:
fred_datapoints = ['AUTHNOTT','USSTHPI','REAINTRATREARAT10Y','CPIAUCSL','M2SL','CDSP','ACTLISCOUUS']
fred_datapoints.sort()

data fetch

In [5]:
import requests

url = 'https://api.stlouisfed.org/fred/series/observations'

In [83]:
fred_data = {'id':[],'data':[],'clean_data':[]}

for id in fred_datapoints :
  #fred_id = id
  resp = requests.get(url=url, params={
                      'series_id' : id,
                      'api_key' : api_key,
                      'file_type' : 'json'})
  data = resp.json() # Check the JSON Response Content documentation below
  clean = pd.json_normalize(data['observations']).drop(columns=['realtime_start','realtime_end'])
  #clean.rename(columns={'value': id},inplace=True)
  #clean['date'] = pd.to_datetime(clean['date'])
  #clean_data = pd.to_numeric(clean[id],errors='coerce')
  fred_data['id'].append(id)
  fred_data['data'].append(clean)
  #fred_data['clean_data'].append(clean_data)

data cleanup

In [91]:
fred_data['clean_data'] = fred_data['data']

for n in fred_data['clean_data'] :
  clean_data = pd.DataFrame(pd.to_numeric(n['value'],errors='coerce'))
  n['date'] = pd.to_datetime(n['date'])
  clean_data['date'] = n['date']
  clean_data.set_index('date', inplace=True)
  df2.append(clean_data)
  print(clean_data)
  
#  for i in fred_datapoints :
#    clean_data.rename(columns={'value': i},inplace=True)
#    print(clean_data)

#print(df2)
clean_data.info()

                value
date
2016-07-01  1549830.0
2016-08-01  1549040.0
2016-09-01  1530171.0
2016-10-01  1490405.0
2016-11-01  1419028.0
...               ...
2021-11-01   553510.0
2021-12-01   483266.0
2022-01-01   408922.0
2022-02-01   376018.0
2022-03-01   381950.0

[69 rows x 1 columns]
            value
date
1961-04-01   67.8
1961-05-01    NaN
1961-06-01    NaN
1961-07-01   67.0
1961-08-01    NaN
...           ...
2021-10-01  259.4
2021-11-01  249.9
2021-12-01  267.7
2022-01-01  268.7
2022-02-01  270.0

[731 rows x 1 columns]
               value
date
1980-01-01  6.240027
1980-04-01  6.151972
1980-07-01  5.913000
1980-10-01  5.740706
1981-01-01  5.691433
...              ...
2020-10-01  5.444396
2021-01-01  4.865958
2021-04-01  5.326541
2021-07-01  5.401836
2021-10-01  5.494987

[168 rows x 1 columns]
              value
date
1947-01-01   21.480
1947-02-01   21.620
1947-03-01   22.000
1947-04-01   22.000
1947-05-01   21.950
...             ...
2021-10-01  276.590
2021-11-01  278.524
2021-12-01  280.126
2022-01-01  281.933
2022-02-01  284.182

[902 rows x 1 columns]
              value
date
1959-01-01    286.6
1959-02-01    287.7
1959-03-01    289.2
1959-04-01    290.1
1959-05-01    292.2
...             ...
2021-10-01  21200.5
2021-11-01  21407.2
2021-12-01  21553.1
2022-01-01  21728.9
2022-02-01  21811.8

[758 rows x 1 columns]
               value
date
1982-01-01  7.623742
1982-02-01  7.656648
1982-03-01  7.128993
1982-04-01  7.408347
1982-05-01  7.320041
...              ...
2021-10-01  0.087901
2021-11-01  0.163998
2021-12-01  0.091689
2022-01-01  0.319495
2022-02-01  0.422006

[482 rows x 1 columns]
             value
date
1975-01-01   60.01
1975-04-01   60.96
1975-07-01   61.15
1975-10-01   62.24
1976-01-01   62.88
...            ...
2020-10-01  473.21
2021-01-01  484.35
2021-04-01  511.06
2021-07-01  539.58
2021-10-01  557.73

[188 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 188 entries, 1975-01-01 to 2021-10-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   188 non-null    float64
dtypes: float64(1)
memory usage: 2.9 KB

In [58]:
clean_data

            ACTLISCOUUS
date
1975-01-01        60.01
1975-04-01        60.96
1975-07-01        61.15
1975-10-01        62.24
1976-01-01        62.88
...                 ...
2020-10-01       473.21
2021-01-01       484.35
2021-04-01       511.06
2021-07-01       539.58
2021-10-01       557.73

[188 rows x 1 columns]

In [50]:
fred_data['clean_data']

[         date      value
 0  2016-07-01  1549830.0
 1  2016-08-01  1549040.0
 2  2016-09-01  1530171.0
 3  2016-10-01  1490405.0
 4  2016-11-01  1419028.0
 ..        ...        ...
 64 2021-11-01   553510.0
 65 2021-12-01   483266.0
 66 2022-01-01   408922.0
 67 2022-02-01   376018.0
 68 2022-03-01   381950.0

 [69 rows x 2 columns],           date  value
 0   1961-04-01   67.8
 1   1961-05-01      .
 2   1961-06-01      .
 3   1961-07-01   67.0
 4   1961-08-01      .
 ..         ...    ...
 726 2021-10-01  259.4
 727 2021-11-01  249.9
 728 2021-12-01  267.7
 729 2022-01-01  268.7
 730 2022-02-01  270.0

 [731 rows x 2 columns],           date     value
 0   1980-01-01  6.240027
 1   1980-04-01  6.151972
 2   1980-07-01  5.913000
 3   1980-10-01  5.740706
 4   1981-01-01  5.691433
 ..         ...       ...
 163 2020-10-01  5.444396
 164 2021-01-01  4.865958
 165 2021-04-01  5.326541
 166 2021-07-01  5.401836
 167 2021-10-01  5.494987

 [168 rows x 2 columns],           date    value
 0   1947-01-01    21.48
 1   1947-02-01    21.62
 2   1947-03-01     22.0
 3   1947-04-01     22.0
 4   1947-05-01    21.95
 ..         ...      ...
 897 2021-10-01  276.590
 898 2021-11-01  278.524
 899 2021-12-01  280.126
 900 2022-01-01  281.933
 901 2022-02-01  284.182

 [902 rows x 2 columns],           date    value
 0   1959-01-01    286.6
 1   1959-02-01    287.7
 2   1959-03-01    289.2
 3   1959-04-01    290.1
 4   1959-05-01    292.2
 ..         ...      ...
 753 2021-10-01  21200.5
 754 2021-11-01  21407.2
 755 2021-12-01  21553.1
 756 2022-01-01  21728.9
 757 2022-02-01  21811.8

 [758 rows x 2 columns],           date       value
 0   1982-01-01  7.62374231
 1   1982-02-01  7.65664807
 2   1982-03-01  7.12899337
 3   1982-04-01  7.40834717
 4   1982-05-01  7.32004091
 ..         ...         ...
 477 2021-10-01  0.08790114
 478 2021-11-01  0.16399788
 479 2021-12-01  0.09168917
 480 2022-01-01   0.3194951
 481 2022-02-01  0.42200624

 [482 rows x 2 columns],           date   value
 0   1975-01-01   60.01
 1   1975-04-01   60.96
 2   1975-07-01   61.15
 3   1975-10-01   62.24
 4   1976-01-01   62.88
 ..         ...     ...
 183 2020-10-01  473.21
 184 2021-01-01  484.35
 185 2021-04-01  511.06
 186 2021-07-01  539.58
 187 2021-10-01  557.73

 [188 rows x 2 columns]]

In [10]:
fred_data['data']

[         date      value
 0  2016-07-01  1549830.0
 1  2016-08-01  1549040.0
 2  2016-09-01  1530171.0
 3  2016-10-01  1490405.0
 4  2016-11-01  1419028.0
 ..        ...        ...
 64 2021-11-01   553510.0
 65 2021-12-01   483266.0
 66 2022-01-01   408922.0
 67 2022-02-01   376018.0
 68 2022-03-01   381950.0

 [69 rows x 2 columns],           date  value
 0   1961-04-01   67.8
 1   1961-05-01      .
 2   1961-06-01      .
 3   1961-07-01   67.0
 4   1961-08-01      .
 ..         ...    ...
 726 2021-10-01  259.4
 727 2021-11-01  249.9
 728 2021-12-01  267.7
 729 2022-01-01  268.7
 730 2022-02-01  270.0

 [731 rows x 2 columns],           date     value
 0   1980-01-01  6.240027
 1   1980-04-01  6.151972
 2   1980-07-01  5.913000
 3   1980-10-01  5.740706
 4   1981-01-01  5.691433
 ..         ...       ...
 163 2020-10-01  5.444396
 164 2021-01-01  4.865958
 165 2021-04-01  5.326541
 166 2021-07-01  5.401836
 167 2021-10-01  5.494987

 [168 rows x 2 columns],           date    value
 0   1947-01-01    21.48
 1   1947-02-01    21.62
 2   1947-03-01     22.0
 3   1947-04-01     22.0
 4   1947-05-01    21.95
 ..         ...      ...
 897 2021-10-01  276.590
 898 2021-11-01  278.524
 899 2021-12-01  280.126
 900 2022-01-01  281.933
 901 2022-02-01  284.182

 [902 rows x 2 columns],           date    value
 0   1959-01-01    286.6
 1   1959-02-01    287.7
 2   1959-03-01    289.2
 3   1959-04-01    290.1
 4   1959-05-01    292.2
 ..         ...      ...
 753 2021-10-01  21200.5
 754 2021-11-01  21407.2
 755 2021-12-01  21553.1
 756 2022-01-01  21728.9
 757 2022-02-01  21811.8

 [758 rows x 2 columns],           date       value
 0   1982-01-01  7.62374231
 1   1982-02-01  7.65664807
 2   1982-03-01  7.12899337
 3   1982-04-01  7.40834717
 4   1982-05-01  7.32004091
 ..         ...         ...
 477 2021-10-01  0.08790114
 478 2021-11-01  0.16399788
 479 2021-12-01  0.09168917
 480 2022-01-01   0.3194951
 481 2022-02-01  0.42200624

 [482 rows x 2 columns],           date   value
 0   1975-01-01   60.01
 1   1975-04-01   60.96
 2   1975-07-01   61.15
 3   1975-10-01   62.24
 4   1976-01-01   62.88
 ..         ...     ...
 183 2020-10-01  473.21
 184 2021-01-01  484.35
 185 2021-04-01  511.06
 186 2021-07-01  539.58
 187 2021-10-01  557.73

 [188 rows x 2 columns]]

In [11]:
df = pd.DataFrame(fred_data)

In [12]:
df

,id,data,clean_data
0,ACTLISCOUUS,date value 0 2016-07-01 154983...,date value 0 2016-07-01 154983...
1,AUTHNOTT,date value 0 1961-04-01 67.8 1 ...,date value 0 1961-04-01 67.8 1 ...
2,CDSP,date value 0 1980-01-01 6.240...,date value 0 1980-01-01 6.240...
3,CPIAUCSL,date value 0 1947-01-01 21.4...,date value 0 1947-01-01 21.4...
4,M2SL,date value 0 1959-01-01 286....,date value 0 1959-01-01 286....
5,REAINTRATREARAT10Y,date value 0 1982-01-01 7.6...,date value 0 1982-01-01 7.6...
6,USSTHPI,date value 0 1975-01-01 60.01 ...,date value 0 1975-01-01 60.01 ...

In [13]:
df['data'][0]

         date      value
0  2016-07-01  1549830.0
1  2016-08-01  1549040.0
2  2016-09-01  1530171.0
3  2016-10-01  1490405.0
4  2016-11-01  1419028.0
..        ...        ...
64 2021-11-01   553510.0
65 2021-12-01   483266.0
66 2022-01-01   408922.0
67 2022-02-01   376018.0
68 2022-03-01   381950.0

[69 rows x 2 columns]

figure out cleanest way to merge api calls
*   overlapping dates, reporting interval differences

In [14]:
dfm = df['data'][0].merge(df['data'][1],on='date',how='outer').merge(df['data'][2],on='date',how='outer').merge(df['data'][3],on='date',how='outer').merge(df['data'][4],on='date',how='outer').merge(df['data'][5],on='date',how='outer').merge(df['data'][6],on='date',how='outer')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:9203: FutureWarning: Passing 'suffixes' which cause duplicate columns {'value_x'} in the result is deprecated and will raise a MergeError in a future version.
  validate=validate,

this is fucking gross.

In [15]:
dfc = pd.concat([df['data'][0],df['data'][1],df['data'][2],df['data'][3],df['data'][4],df['data'][5],df['data'][6]], axis=1, sort=False, join='outer',verify_integrity=True).loc['1982-01-01':]

ValueError: ignored

In [ ]:
dfs = df['data'][0].join([df['data'][1:]], how='outer', on='date')

In [ ]:
dfm

In [ ]:
print(dfc['M2SL'].iloc[1])

start in 1982

In [ ]:
dfc.loc['1982-01-01':]

In [ ]:
dfc.info()

# Visuals

In [ ]:
import matplotlib.pyplot as plt

import seaborn as sns

In [ ]:
plt.plot(dfc,dfc['AUTHNOTT'])

# **Merge data into dataframe**